//MainScreen

.text-content {
  display: block;
  min-width: fit-content !important;
  position: absolute;
  height: max-content !important;
  top: 27%;
  left: 21%;
  padding-left: 20%;
  min-width: 50% !important;
}

.text-content > h1 {
  letter-spacing: 3.5px;
  color: #FDD000;
  font-family: "Rubik", serif;
  text-transform: uppercase;
  max-width: 95%;
  font-size: 42px;
  margin-bottom: 10px;
  text-align: right;
  margin-left: 2%;
}

.text-content > p {
  max-width: 85%;
  font-family: "Rubik", serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #DFDFDF;
  margin: 0;
  margin-left: 10%;
  text-align: right;
}

